.mt {
  margin-top: 20px;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  color: white;
  background-color: royalblue;
  border-radius: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
}

input:focus {
  outline: none;
}

.inf {
  padding: 10px;
  border: 2px solid black;
  margin: 10px 0px;
  font-weight: 900;
  border-radius: 5px;
}
